/*Common sizing for entire page with border-box and margin*/

* {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    margin: 10px auto;
}

/*Flex container to split logo on the left and Name on the right*/

.hdr_flexbox {
    display: flex;
    align-items: flex-start;
    max-width: 80%;
}

.logo {
    margin-top: 10%;
    max-width: 30%;
    max-height: 10%;
}

.hdr_font {
    margin-top: 5%;
    font-size: 3vw;
    font-family: "Helvetica Neue", sans-serif;
    direction: rtl;
}

.desg_font {
    font-size: 2vw;
    font-family: Times, serif;
    direction: rtl;
}

.line {
    border-bottom: 3px solid #7d97ad;
}

.main_img {
    max-width: 80%;
    max-height: 50%;
}

/*Resizing the image to fit inside the page and container*/

.main_img_resize {
    max-height: 100%;
    max-width: 100%;
}

.feature_font {
    font-size: 2vw;
    font-family: "Book Antiqua", monospace;
    color: #7d97ad;
    margin-left: 10%;
}

/* Flexbox for article*/

.article_flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
    max-height: 50%;
}

.art_img_resize {
    max-height: 50%;
    max-width: 70%;
    margin-left: 15%;
}

.caption {
    margin-left: 30%;
    margin-top: 10%;
    font-size: 3vw;
    font-family: Georgia, sans-serif;
}

.link {
    margin-left: 33%;
    margin-top: 10%;
    font-family: Helvetica, serif;
    font-size: 1vw;
    text-align: center;
    font-style: italic;
}
